# Dependencies
node_modules
frontend/node_modules

# Production build
dist
frontend/dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Environment and editor
.env
.env.local
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
